USE [master]
GO
/****** Object:  Database [BooksDB]    Script Date: 11/12/2021 2:34:42 PM ******/
CREATE DATABASE [BooksDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BooksDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BooksDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BooksDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BooksDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BooksDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BooksDB]
GO
/****** Object:  Table [dbo].[authors]    Script Date: 11/12/2021 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[authors](
	[bookId] [varchar](24) NOT NULL,
	[author] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bookId] ASC,
	[author] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[book_sells]    Script Date: 11/12/2021 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[book_sells](
	[trans_id] [varchar](24) NOT NULL,
	[book_id] [varchar](24) NOT NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[trans_id] ASC,
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[books]    Script Date: 11/12/2021 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[id] [varchar](24) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[isbn] [varchar](13) NULL,
	[pageCount] [int] NULL,
	[publishedDate] [date] NULL,
	[thumbnailUrl] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[status] [nvarchar](50) NULL,
	[price] [money] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 11/12/2021 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[bookId] [varchar](24) NOT NULL,
	[category] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bookId] ASC,
	[category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sellers]    Script Date: 11/12/2021 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sellers](
	[Id] [varchar](24) NOT NULL,
	[name] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[phone] [char](10) NULL,
	[hash_password] [nvarchar](255) NULL,
	[role] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[session]    Script Date: 11/12/2021 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[session](
	[id] [varchar](24) NOT NULL,
	[seller_id] [char](10) NULL,
	[starting_time] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stationeries]    Script Date: 11/12/2021 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stationeries](
	[Id] [varchar](24) NOT NULL,
	[product_name] [nvarchar](255) NULL,
	[thumbnail_url] [nvarchar](255) NULL,
	[unit] [nvarchar](50) NULL,
	[price] [money] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stationery_sells]    Script Date: 11/12/2021 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stationery_sells](
	[trans_id] [varchar](24) NOT NULL,
	[stationery_id] [varchar](24) NOT NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[trans_id] ASC,
	[stationery_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 11/12/2021 2:34:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transactions](
	[Id] [varchar](24) NOT NULL,
	[seller_id] [varchar](24) NOT NULL,
	[create_date] [datetime] NULL,
	[total_price] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[authors] ([bookId], [author]) VALUES (N'60a8a5b6ee37a8c953c95fe2', N'Charlie Collins')
INSERT [dbo].[authors] ([bookId], [author]) VALUES (N'60a8a5b6ee37a8c953c95fe2', N'Robi Sen')
INSERT [dbo].[authors] ([bookId], [author]) VALUES (N'60a8a5b6ee37a8c953c95fe2', N'W. Frank Ableson')
GO
INSERT [dbo].[books] ([id], [title], [isbn], [pageCount], [publishedDate], [thumbnailUrl], [description], [status], [price], [quantity]) VALUES (N'53c2ae8528d75d572c06ad9d', N'XSLT Quickly', N'1930110111', 320, CAST(N'2001-05-01' AS Date), N'https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ.book-thumb-images/ducharme.jpg', NULL, N'PUBLISH', 11.3300, 95)
INSERT [dbo].[books] ([id], [title], [isbn], [pageCount], [publishedDate], [thumbnailUrl], [description], [status], [price], [quantity]) VALUES (N'53c2ae8528d75d572c06ad9e', N'Windows Forms Programming with C#', N'1930110286', 752, CAST(N'2002-03-01' AS Date), N'https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ.book-thumb-images/eebrown.jpg', NULL, N'PUBLISH', 34.0000, 159)
INSERT [dbo].[books] ([id], [title], [isbn], [pageCount], [publishedDate], [thumbnailUrl], [description], [status], [price], [quantity]) VALUES (N'53c2ae8528d75d572c06ad9f', N'Windows Forms in Action', N'1932394656', 950, CAST(N'2006-04-01' AS Date), N'https://s3.amazonaws.com/AKIAJC5RLADLUMVRPFDQ.book-thumb-images/eebrown2.jpg', NULL, N'PUBLISH', 32.9300, 63)
GO
INSERT [dbo].[categories] ([bookId], [category]) VALUES (N'60a8a5b6ee37a8c953c95fe2', N'Mobile')
INSERT [dbo].[categories] ([bookId], [category]) VALUES (N'60a8a5b6ee37a8c953c95fe2', N'Open Source')
INSERT [dbo].[categories] ([bookId], [category]) VALUES (N'60a8a5f6585c6a78469fad16', N'Java')
GO
INSERT [dbo].[sellers] ([Id], [name], [address], [phone], [hash_password], [role]) VALUES (N'908935d857ae42c6a9a90562', N'admin', N'Sai Gon', N'0987654321', N'0WqLNdjBkiK18icCZJN5pCXsjhLqxUIeWqV6e4FQUyPK2+Pd', N'admin')
GO
INSERT [dbo].[stationeries] ([Id], [product_name], [thumbnail_url], [unit], [price], [quantity]) VALUES (N'00142244a1b54e74a6da8006', N'Uneedit First', N'https://static.winc.com.au/pi/09/266eb8d1b52c702d1b60bb0a6bb2043108ee58-671578/img180.jpg', N'EA', 0.5400, 164)
INSERT [dbo].[stationeries] ([Id], [product_name], [thumbnail_url], [unit], [price], [quantity]) VALUES (N'019f3ad5dbb940b7a44191c0', N'Uniball Ub104', N'https://www.okschoolandoffice.com.au/assets/full/10506032.jpg?20200703030534', N'EA', 2.3700, 144)
INSERT [dbo].[stationeries] ([Id], [product_name], [thumbnail_url], [unit], [price], [quantity]) VALUES (N'0305150ee62d406bb25956e7', N'Winc Packagin', N'https://static.winc.com.au/pi/5a/1ea933ea9313fc891dec81e3931d33c03e07f4-784611/large.jpg', N'PAK', 15.2200, 194)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sellers__89A29E5E2AB67D19]    Script Date: 11/12/2021 2:34:42 PM ******/
ALTER TABLE [dbo].[sellers] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC,
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__sellers__B43B145F7804CC0C]    Script Date: 11/12/2021 2:34:42 PM ******/
ALTER TABLE [dbo].[sellers] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__session__780A0A969CA162D4]    Script Date: 11/12/2021 2:34:42 PM ******/
ALTER TABLE [dbo].[session] ADD UNIQUE NONCLUSTERED 
(
	[seller_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[books] ADD  DEFAULT (left(replace(lower(newid()),'-',''),(24))) FOR [id]
GO
ALTER TABLE [dbo].[sellers] ADD  DEFAULT (left(replace(lower(newid()),'-',''),(24))) FOR [Id]
GO
ALTER TABLE [dbo].[sellers] ADD  DEFAULT ('seller') FOR [role]
GO
ALTER TABLE [dbo].[session] ADD  DEFAULT (left(replace(lower(newid()),'-',''),(24))) FOR [id]
GO
ALTER TABLE [dbo].[session] ADD  DEFAULT (getdate()) FOR [starting_time]
GO
ALTER TABLE [dbo].[stationeries] ADD  DEFAULT (left(replace(lower(newid()),'-',''),(24))) FOR [Id]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (left(replace(lower(newid()),'-',''),(24))) FOR [Id]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[authors]  WITH CHECK ADD FOREIGN KEY([bookId])
REFERENCES [dbo].[books] ([id])
GO
ALTER TABLE [dbo].[book_sells]  WITH CHECK ADD FOREIGN KEY([book_id])
REFERENCES [dbo].[books] ([id])
GO
ALTER TABLE [dbo].[book_sells]  WITH CHECK ADD FOREIGN KEY([trans_id])
REFERENCES [dbo].[transactions] ([Id])
GO
ALTER TABLE [dbo].[categories]  WITH CHECK ADD FOREIGN KEY([bookId])
REFERENCES [dbo].[books] ([id])
GO
ALTER TABLE [dbo].[session]  WITH CHECK ADD FOREIGN KEY([seller_id])
REFERENCES [dbo].[sellers] ([phone])
GO
ALTER TABLE [dbo].[stationery_sells]  WITH CHECK ADD FOREIGN KEY([stationery_id])
REFERENCES [dbo].[stationeries] ([Id])
GO
ALTER TABLE [dbo].[stationery_sells]  WITH CHECK ADD FOREIGN KEY([trans_id])
REFERENCES [dbo].[transactions] ([Id])
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD FOREIGN KEY([seller_id])
REFERENCES [dbo].[sellers] ([Id])
GO
ALTER TABLE [dbo].[book_sells]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD CHECK  (([pageCount]>=(0)))
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[books]  WITH CHECK ADD CHECK  (([quantity]>=(0)))
GO
ALTER TABLE [dbo].[sellers]  WITH CHECK ADD CHECK  (([role]='seller' OR [role]='admin'))
GO
ALTER TABLE [dbo].[stationeries]  WITH NOCHECK ADD CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[stationeries]  WITH NOCHECK ADD CHECK  (([quantity]>=(0)))
GO
ALTER TABLE [dbo].[stationery_sells]  WITH CHECK ADD CHECK  (([quantity]>(0)))
GO
ALTER TABLE [dbo].[transactions]  WITH CHECK ADD CHECK  (([total_price]>=(0)))
GO
USE [master]
GO
